<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <nav>
    <h2>
      <a href="/">Home</a>
    </h2>
    <h2>
      <a href="dashboard route">Dashboard</a>
    </h2>
    <h2>
      <a href="login-route">Login</a>
    </h2>
  </nav>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Just Tech Blog</a>
      </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

</body>

</html>