<article class="post">
    <div class="title">
        <h1>
            {{post.title}}
        </h1>
    </div>
    <p class="content">
        {{post.content}}
    </p>
    <p>{{ comment.comment_text }}</p>
</article>

{{!-- {{#if loggedIn}} --}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{!-- {{/if}} --}}

{{!-- {{#if loggedIn}} --}}
{{!-- <script src="/javascript/comment.js"></script> --}}
{{!-- {{/if}} --}}